# Run a pre-commit autoupdate every week and open a pull request if needed
name: Pre-commit auto-update

on:
  # At 00:00 on the 1st of every month.
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  pre-commit-auto-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: Install Python 3.12
        run: uv python install 3.12
      - name: Run pre-commit
        run: uv run pre-commit autoupdate
      - name: Set git config
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ github.token }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: Update pre-commit hooks
          body: Update versions of pre-commit hooks to latest version.
          labels: dependencies,github_actions
